In [1]:
#Import Dependencies
import numpy as np
import pandas as pd

## Load in the Data
#### In the sections of code below I am simply loading in the datasets, and converting them into Pandas Dataframes so that I can analyze them and clean them for their intended purpose.

In [2]:
#Load in CSV files
NYC_housing_data = pd.read_csv('./Resources/dof-summary-of-neighborhood-sales-for-manhattan-for-class-1-2-and-3-family-homes-2009-1.csv')

EITC_claims_data = pd.read_csv('./Resources/Earned_Income_Tax_Credit__New_York_City_EITC__Claims__Full-Year_Resident_Totals__by_Size_of_Earned_Income.csv')
                               
#Create Pandas Dataframes
NYC_housing_df = pd.DataFrame(NYC_housing_data)
                               
EITC_claims_df = pd.DataFrame(EITC_claims_data)
                               
#View NYC Housing Dataframes
NYC_housing_df.head(15)

,NEIGHBORHOOD,TYPE OF HOME,TOTAL NO. OF PROPERTIES,NUMBER OF SALES,LOWEST SALE PRICE,AVERAGE SALE PRICE,MEDIAN SALE PRICE,HIGHEST SALE PRICE
0,CHELSEA,02 TWO FAMILY HOMES,81,2,995000.0,2872500.0,2872500.0,4750000.0
1,CHELSEA,03 THREE FAMILY HOMES,64,1,3800000.0,3800000.0,3800000.0,3800000.0
2,EAST VILLAGE,01 ONE FAMILY HOMES,22,1,7926432.0,7926432.0,7926432.0,7926432.0
3,EAST VILLAGE,02 TWO FAMILY HOMES,39,2,3085000.0,3892500.0,3892500.0,4700000.0
4,EAST VILLAGE,03 THREE FAMILY HOMES,18,1,2400000.0,2400000.0,2400000.0,2400000.0
5,GRAMERCY,03 THREE FAMILY HOMES,13,1,3450000.0,3450000.0,3450000.0,3450000.0
6,GREENWICH VILLAGE-CENTRAL,01 ONE FAMILY HOMES,72,3,2100000.0,9798000.0,12219000.0,15075000.0
7,GREENWICH VILLAGE-CENTRAL,02 TWO FAMILY HOMES,55,4,2350000.0,6662500.0,4450000.0,15400000.0
8,GREENWICH VILLAGE-WEST,01 ONE FAMILY HOMES,253,4,1764000.0,6034750.0,4712500.0,12950000.0
9,GREENWICH VILLAGE-WEST,02 TWO FAMILY HOMES,281,10,3325000.0,5371486.0,5337430.0,8250000.0
10,GREENWICH VILLAGE-WEST,03 THREE FAMILY HOMES,130,3,449249.0,4466416.0,5700000.0,7250000.0
11,HARLEM-CENTRAL,01 ONE FAMILY HOMES,201,7,408771.0,954566.0,955950.0,1499000.0
12,HARLEM-CENTRAL,02 TWO FAMILY HOMES,464,11,320000.0,1129825.0,1098300.0,1850000.0
13,HARLEM-CENTRAL,03 THREE FAMILY HOMES,563,13,487424.0,1110204.0,938948.0,2575000.0
14,HARLEM-EAST,02 TWO FAMILY HOMES,59,2,788376.0,799622.0,799622.0,810867.0

In [3]:
#View EITC Claims Datframe
EITC_claims_df.head(15)

,Tax Year,Credit Type,Place of Residence,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)",...,"Credit Amount Claimed, Two Qualifying Children ($000) **","Average Credit, Two Qualifying Children **","Number of Claims, More than Two Qualifying Children **","Credit Amount Claimed, More than Two Qualifying Children ($000) **","Average Credit, More than Two Qualifying Children **","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total",Place of Residence Sort Order,Earned Income Sort Order
0,2013,NYC EITC,"Full-Year Resident, Total","$0 - $4,000",NaN,58723.0,668.000,11,11128.0,442.000,...,175.000,45.0,1185.0,57.000,48.0,74934,1341.000,18,64,1
1,2013,NYC EITC,"Full-Year Resident, Total","$4,001 - $8,000",NaN,103666.0,2207.000,21,28001.0,2961.000,...,1152.000,124.0,2624.0,363.000,138.0,143556,6683.000,47,64,2
2,2013,NYC EITC,"Full-Year Resident, Total","$8,001 - $12,000",NaN,87726.0,1544.000,18,69688.0,10915.000,...,3912.000,203.0,6073.0,1399.000,230.0,182725,17770.000,97,64,3
3,2013,NYC EITC,"Full-Year Resident, Total","$12,001 - $16,000",NaN,38965.0,364.000,9,48673.0,7772.000,...,10839.000,261.0,14378.0,4235.000,295.0,143528,23211.000,162,64,4
4,2013,NYC EITC,"Full-Year Resident, Total","$16,001 - $20,000",NaN,7067.0,51.000,7,40489.0,6222.000,...,7676.000,259.0,12367.0,3648.000,295.0,89516,17598.000,197,64,5
5,2013,NYC EITC,"Full-Year Resident, Total","$20,001 - $24,000","d/, a/",NaN,NaN,1,35409.0,4617.000,...,NaN,233.0,10519.0,2932.000,279.0,69038,12941.000,187,64,6
6,2013,NYC EITC,"Full-Year Resident, Total","$24,001 - $28,000",NaN,0.0,0.000,0,30473.0,3078.000,...,3819.000,195.0,7933.0,1915.000,241.0,57973,8812.000,152,64,7
7,2013,NYC EITC,"Full-Year Resident, Total","$28,001 - $32,000","d/, a/",NaN,NaN,1,NaN,NaN,...,2592.000,152.0,6705.0,1311.000,195.0,49901,5703.000,114,64,8
8,2013,NYC EITC,"Full-Year Resident, Total","$32,001 - $36,000","d/, a/",NaN,NaN,1,NaN,NaN,...,1682.000,109.0,5968.0,905.000,152.0,44841,3465.000,77,64,9
9,2013,NYC EITC,"Full-Year Resident, Total","$36,001 - $40,000","d/, a/",NaN,NaN,1,NaN,NaN,...,860.000,68.0,4864.0,539.000,111.0,27932,1602.000,57,64,10
10,2013,NYC EITC,"Full-Year Resident, Total","$40,001 - $44,000","d/, a/",NaN,NaN,1,NaN,NaN,...,294.000,37.0,3873.0,275.000,71.0,14282,602.000,42,64,11
11,2013,NYC EITC,"Full-Year Resident, Total","$44,001 - $48,000","d/, a/",0.0,0.000,0,NaN,NaN,...,NaN,24.0,2645.0,113.000,43.0,5478,181.000,33,64,12
12,2013,NYC EITC,"Full-Year Resident, Total","$48,001 AND OVER","d/, a/",NaN,NaN,1,NaN,NaN,...,0.000,2.0,1263.0,24.000,19.0,1454,24.000,17,64,13
13,2013,NYC EITC,"Full-Year Resident, Total",TOTAL,NaN,296160.0,4834.261,16,326392.0,38921.368,...,38460.221,190.0,80397.0,17716.523,220.0,905158,99932.373,110,64,14
14,2012,NYC EITC,"Full-Year Resident, Total","$0 - $4,000",NaN,56090.0,663.000,12,12673.0,490.000,...,206.000,44.0,1363.0,67.000,49.0,74752,1426.000,19,64,1

In [4]:
#Check Info for NYC Housing df
NYC_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NEIGHBORHOOD             41 non-null     object
 1   TYPE OF HOME             41 non-null     object
 2   TOTAL NO. OF PROPERTIES  41 non-null     int64
 3   NUMBER OF SALES          41 non-null     int64
 4   LOWEST SALE PRICE        41 non-null     float64
 5   AVERAGE SALE PRICE       41 non-null     float64
 6   MEDIAN SALE PRICE        41 non-null     float64
 7   HIGHEST SALE PRICE       41 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.7+ KB

In [5]:
#Check Info for EITC Claims df
EITC_claims_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 25 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Tax Year                                                            135 non-null    int64
 1   Credit Type                                                         135 non-null    object
 2   Place of Residence                                                  135 non-null    object
 3   Size of Earned Income                                               135 non-null    object
 4   Notes                                                               30 non-null     object
 5   Number of Claims, Zero Qualifying Children                          111 non-null    float64
 6   Credit Amount Claimed, Zero Qualifying Children ($000)              111 non-null    float64
 7   Average Credit, Zero Qualifying Children                            135 non-null    int64
 8   Number of Claims, One Qualifying Child                              118 non-null    float64
 9   Credit Amount Claimed, One Qualifying Child ($000)                  118 non-null    float64
 10  Average Credit, One Qualifying Child                                135 non-null    int64
 11  Number of Claims, More than One Qualifying Child *                  50 non-null     float64
 12  Credit Amount Claimed, More than One Qualifying Child ($000) *      50 non-null     float64
 13  Average Credit, More than One Qualifying Child *                    50 non-null     float64
 14  Number of Claims, Two Qualifying Children **                        74 non-null     float64
 15  Credit Amount Claimed, Two Qualifying Children ($000) **            74 non-null     float64
 16  Average Credit, Two Qualifying Children **                          85 non-null     float64
 17  Number of Claims, More than Two Qualifying Children **              78 non-null     float64
 18  Credit Amount Claimed, More than Two Qualifying Children ($000) **  78 non-null     float64
 19  Average Credit, More than Two Qualifying Children **                85 non-null     float64
 20  Number of Claims, Total                                             135 non-null    int64
 21  Credit Amount Claimed, Total ($000)                                 135 non-null    float64
 22  Average Credit, Total                                               135 non-null    int64
 23  Place of Residence Sort Order                                       135 non-null    int64
 24  Earned Income Sort Order                                            135 non-null    int64
dtypes: float64(14), int64(7), object(4)
memory usage: 26.5+ KB

## Cleaning and Research
#### I took to the internet to find the datasets so that I can find the descriptions, and nuances of the datasets. Some key notes of the EITC dataset are that from the years 2008 and ealier anything above one child is referred to as more than one qualifying child, and from the years 2009 and the number of children is specified up to two qualified children, and anything above is referred to as more than two qualifying children. So for that reason I seperated the dataset into two different Dataframes, one capturing the data from the years 2004-2008, and the other capturing the data from the years 2009-2014. I was also curious as to what the codes found under the 'Notes' column of the dataset meant, so I read up on the codes and provided their definitions below.

## Tax Notes Codes
#### d/ In certain instances, Tax Law prohibits the disclosure of individual taxpayer information. 
#### a/ Amount is less than $500. Reported as zero. For Tax Years 2014 and forward, Credit Amounts Claimed displaying as zero (with Number of Claims greater than zero) actually contain data accurate to three decimal places that become available when the hidden decimal data is obtained via an OData Feed.

In [6]:
#Clean Up and Turn NaN Values into 0's
EITC_claims_df = EITC_claims_df.fillna(0)

#View df
EITC_claims_df

,Tax Year,Credit Type,Place of Residence,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)",...,"Credit Amount Claimed, Two Qualifying Children ($000) **","Average Credit, Two Qualifying Children **","Number of Claims, More than Two Qualifying Children **","Credit Amount Claimed, More than Two Qualifying Children ($000) **","Average Credit, More than Two Qualifying Children **","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total",Place of Residence Sort Order,Earned Income Sort Order
0,2013,NYC EITC,"Full-Year Resident, Total","$0 - $4,000",0,58723.0,668.000,11,11128.0,442.000,...,175.000,45.0,1185.0,57.000,48.0,74934,1341.000,18,64,1
1,2013,NYC EITC,"Full-Year Resident, Total","$4,001 - $8,000",0,103666.0,2207.000,21,28001.0,2961.000,...,1152.000,124.0,2624.0,363.000,138.0,143556,6683.000,47,64,2
2,2013,NYC EITC,"Full-Year Resident, Total","$8,001 - $12,000",0,87726.0,1544.000,18,69688.0,10915.000,...,3912.000,203.0,6073.0,1399.000,230.0,182725,17770.000,97,64,3
3,2013,NYC EITC,"Full-Year Resident, Total","$12,001 - $16,000",0,38965.0,364.000,9,48673.0,7772.000,...,10839.000,261.0,14378.0,4235.000,295.0,143528,23211.000,162,64,4
4,2013,NYC EITC,"Full-Year Resident, Total","$16,001 - $20,000",0,7067.0,51.000,7,40489.0,6222.000,...,7676.000,259.0,12367.0,3648.000,295.0,89516,17598.000,197,64,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2014,NYC EITC,"Full-Year Resident, Total","$40,001 - $44,000",d/,0.0,0.000,1,0.0,0.000,...,356.858,40.0,3978.0,316.778,80.0,15959,723.896,45,64,11
131,2014,NYC EITC,"Full-Year Resident, Total","$44,001 - $48,000",0,0.0,0.000,0,0.0,0.000,...,91.942,32.0,2727.0,129.342,47.0,5588,221.284,40,64,12
132,2014,NYC EITC,"Full-Year Resident, Total","$48,001 - $52,000",d/,0.0,0.000,0,0.0,0.000,...,0.000,6.0,1742.0,40.648,23.0,2435,45.062,19,64,13
133,2014,NYC EITC,"Full-Year Resident, Total","$52,001 AND OVER",0,0.0,0.000,0,0.0,0.000,...,0.000,0.0,0.0,0.000,0.0,0,0.000,0,64,14
134,2014,NYC EITC,"Full-Year Resident, Total",TOTAL,0,304777.0,4991.954,16,328508.0,40155.119,...,39476.892,196.0,81961.0,18642.555,227.0,916857,103266.520,113,64,14

In [7]:
#Save F_NYC df
EITC_claims_df.to_csv('./Results/NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df.csv')

In [8]:
#Seperate Useful Columns
F_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df = EITC_claims_df[['Tax Year', 'Size of Earned Income', 'Notes', 'Number of Claims, Zero Qualifying Children', 
                                                                          'Credit Amount Claimed, Zero Qualifying Children ($000)', 'Average Credit, Zero Qualifying Children',
                                                                          'Number of Claims, One Qualifying Child', 'Credit Amount Claimed, One Qualifying Child ($000)',
                                                                          'Average Credit, One Qualifying Child', 'Number of Claims, More than One Qualifying Child *',
                                                                          'Credit Amount Claimed, More than One Qualifying Child ($000) *', 'Average Credit, More than One Qualifying Child *',
                                                                          'Number of Claims, Total', 'Credit Amount Claimed, Total ($000)', 'Average Credit, Total'
                                                                         ]]

#View df
F_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df

,Tax Year,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)","Average Credit, One Qualifying Child","Number of Claims, More than One Qualifying Child *","Credit Amount Claimed, More than One Qualifying Child ($000) *","Average Credit, More than One Qualifying Child *","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total"
0,2013,"$0 - $4,000",0,58723.0,668.000,11,11128.0,442.000,40,0.0,0.0,0.0,74934,1341.000,18
1,2013,"$4,001 - $8,000",0,103666.0,2207.000,21,28001.0,2961.000,106,0.0,0.0,0.0,143556,6683.000,47
2,2013,"$8,001 - $12,000",0,87726.0,1544.000,18,69688.0,10915.000,157,0.0,0.0,0.0,182725,17770.000,97
3,2013,"$12,001 - $16,000",0,38965.0,364.000,9,48673.0,7772.000,160,0.0,0.0,0.0,143528,23211.000,162
4,2013,"$16,001 - $20,000",0,7067.0,51.000,7,40489.0,6222.000,154,0.0,0.0,0.0,89516,17598.000,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2014,"$40,001 - $44,000",d/,0.0,0.000,1,0.0,0.000,16,0.0,0.0,0.0,15959,723.896,45
131,2014,"$44,001 - $48,000",0,0.0,0.000,0,0.0,0.000,0,0.0,0.0,0.0,5588,221.284,40
132,2014,"$48,001 - $52,000",d/,0.0,0.000,0,0.0,0.000,1,0.0,0.0,0.0,2435,45.062,19
133,2014,"$52,001 AND OVER",0,0.0,0.000,0,0.0,0.000,0,0.0,0.0,0.0,0,0.000,0
134,2014,TOTAL,0,304777.0,4991.954,16,328508.0,40155.119,122,0.0,0.0,0.0,916857,103266.520,113

In [9]:
#Filter By Year (2004-2008)
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df = F_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df[F_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df['Tax Year'] <= 2008]

#View df
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df

,Tax Year,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)","Average Credit, One Qualifying Child","Number of Claims, More than One Qualifying Child *","Credit Amount Claimed, More than One Qualifying Child ($000) *","Average Credit, More than One Qualifying Child *","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total"
70,2008,"$0 - $4,000",0,51027.0,506.0,10,11759.0,489.0,42,5415.0,264.0,49.0,68201,1259.0,18
71,2008,"$4,001 - $8,000",0,94210.0,1859.0,20,32680.0,3500.0,107,14419.0,1820.0,126.0,141309,7180.0,51
72,2008,"$8,001 - $12,000",0,64835.0,809.0,12,60682.0,8745.0,144,35580.0,7323.0,206.0,161097,16878.0,105
73,2008,"$12,001 - $16,000",0,14212.0,65.0,5,47663.0,6824.0,143,54424.0,12972.0,238.0,116299,19862.0,171
74,2008,"$16,001 - $20,000",d/,0.0,0.0,1,0.0,0.0,127,36978.0,8204.0,222.0,75640,13116.0,173
75,2008,"$20,001 - $24,000",0,0.0,0.0,0,36025.0,3492.0,97,31300.0,5700.0,182.0,67325,9192.0,137
76,2008,"$24,001 - $28,000",d/,0.0,0.0,1,0.0,0.0,66,28213.0,3938.0,140.0,60157,6037.0,100
77,2008,"$28,001 - $32,000",0,0.0,0.0,0,28815.0,984.0,34,26119.0,2542.0,97.0,54934,3526.0,64
78,2008,"$32,001 AND OVER",a/,23.0,0.0,1,14728.0,173.0,12,37858.0,1618.0,43.0,52609,1791.0,34
79,2008,TOTAL,0,224311.0,3240.0,14,302954.0,31218.0,103,270306.0,44383.0,164.0,797571,78841.0,99
80,2007,"$0 - $4,000",0,51316.0,472.0,9,11355.0,486.0,43,5126.0,260.0,51.0,67797,1218.0,18
81,2007,"$4,001 - $8,000",0,94163.0,1802.0,19,40345.0,4444.0,110,16090.0,2044.0,127.0,150598,8290.0,55
82,2007,"$8,001 - $12,000",0,62191.0,690.0,11,81721.0,11526.0,141,48838.0,10201.0,209.0,192750,22417.0,116
83,2007,"$12,001 - $16,000",0,7728.0,26.0,3,49828.0,6952.0,140,63386.0,14758.0,233.0,120942,21736.0,180
84,2007,"$16,001 - $20,000",0,0.0,0.0,0,43573.0,5287.0,121,39805.0,8427.0,212.0,83378,13714.0,164
85,2007,"$20,001 - $24,000",0,0.0,0.0,0,39023.0,3509.0,90,33765.0,5699.0,169.0,72788,9209.0,127
86,2007,"$24,001 - $28,000",0,0.0,0.0,0,33885.0,1983.0,59,30043.0,3820.0,127.0,63928,5803.0,91
87,2007,"$28,001 - $32,000",0,0.0,0.0,0,29945.0,817.0,27,27784.0,2360.0,85.0,57729,3178.0,55
88,2007,"$32,001 AND OVER",0,0.0,0.0,0,9123.0,71.0,8,33314.0,1184.0,36.0,42437,1255.0,30
89,2007,TOTAL,0,215398.0,2990.0,14,338798.0,35076.0,104,298151.0,48752.0,164.0,852347,86818.0,102
90,2006,"$0 - $4,000",0,46566.0,428.0,9,15189.0,853.0,56,10068.0,1027.0,102.0,71841,2309.0,32
91,2006,"$4,001 - $8,000",0,87412.0,1600.0,18,43810.0,4849.0,111,17487.0,2224.0,127.0,148769,8676.0,58
92,2006,"$8,001 - $12,000",0,57788.0,549.0,9,60353.0,8208.0,136,46776.0,9635.0,206.0,164969,18393.0,111
93,2006,"$12,001 - $16,000",0,2870.0,13.0,4,48553.0,6478.0,133,51296.0,11405.0,222.0,102719,17895.0,174
94,2006,"$16,001 - $20,000",0,0.0,0.0,0,41815.0,4667.0,112,36654.0,7194.0,196.0,78469,11862.0,151
95,2006,"$20,001 - $24,000",0,0.0,0.0,0,38375.0,3084.0,80,32229.0,4948.0,154.0,70605,8032.0,114
96,2006,"$24,001 - $28,000",0,0.0,0.0,0,32990.0,1614.0,49,30425.0,3409.0,112.0,63415,5023.0,79
97,2006,"$28,001 - $32,000",0,0.0,0.0,0,28392.0,522.0,18,27958.0,1973.0,71.0,56355,2495.0,44
98,2006,"$32,001 AND OVER",0,0.0,0.0,0,1684.0,14.0,8,25591.0,709.0,28.0,27275,723.0,26
99,2006,TOTAL,0,194636.0,2590.0,13,311161.0,30290.0,97,278484.0,42524.0,153.0,784417,75407.0,96
100,2005,"$0 - $4,000",0,47902.0,440.0,9,14235.0,686.0,48,7158.0,480.0,67.0,69297,1606.0,23
101,2005,"$4,001 - $8,000",0,81608.0,1457.0,18,46025.0,5111.0,111,18340.0,2322.0,127.0,145973,8890.0,61
102,2005,"$8,001 - $12,000",0,51229.0,437.0,9,52851.0,6957.0,132,44313.0,8957.0,202.0,148393,16351.0,110
103,2005,"$12,001 - $16,000",0,2478.0,8.0,3,45450.0,5803.0,128,45371.0,9717.0,214.0,93299,15528.0,166
104,2005,"$16,001 - $20,000",0,0.0,0.0,0,41278.0,4279.0,104,36623.0,6755.0,184.0,77901,11034.0,142
105,2005,"$20,001 - $24,000",0,0.0,0.0,0,37456.0,2731.0,73,33180.0,4710.0,142.0,70636,7441.0,105
106,2005,"$24,001 - $28,000",0,0.0,0.0,0,32138.0,1336.0,42,31104.0,3143.0,101.0,63242,4479.0,71
107,2005,"$28,001 - $32,000",d/,0.0,0.0,5,22034.0,324.0,15,28243.0,1682.0,60.0,50283,2006.0,40
108,2005,"$32,001 AND OVER",0,0.0,0.0,0,863.0,3.0,4,19764.0,433.0,22.0,20627,436.0,21
109,2005,TOTAL,0,183223.0,2343.0,13,292330.0,27231.0,93,264096.0,38198.0,145.0,739651,67771.0,92
110,2004,"$0 - $4,000",0,49020.0,443.0,9,15110.0,644.0,43,7598.0,381.0,50.0,71728,1467.0,20
111,2004,"$4,001 - $8,000",0,81895.0,1417.0,17,49561.0,5449.0,110,22051.0,2777.0,126.0,153507,9643.0,63
112,2004,"$8,001 - $12,000",0,42935.0,334.0,8,52150.0,6690.0,128,47435.0,9453.0,199.0,142520,16477.0,116
113,2004,"$12,001 - $16,000",0,529.0,1.0,1,44196.0,5430.0,123,43957.0,9084.0,207.0,88682,14515.0,164
114,2004,"$16,001 - $20,000",0,0.0,0.0,0,41419.0,3976.0,96,35470.0,6070.0,171.0,76889,10047.0,131
115,2004,"$20,001 - $24,000",0,0.0,0.0,0,37663.0,2483.0,66,33466.0,4356.0,130.0,71129,6839.0,96
116,2004,"$24,001 - $28,000",0,0.0,0.0,0,32415.0,1127.0,35,31750.0,2832.0,89.0,64165,3959.0,62
117,2004,"$28,001 - $32,000",0,0.0,0.0,0,15692.0,177.0,11,28909.0,1395.0,48.0,44601,1572.0,35
118,2004,"$32,001 AND OVER",0,0.0,0.0,0,0.0,0.0,0,14593.0,219.0,15.0,14593,219.0,15
119,2004,TOTAL,0,174379.0,2194.0,13,288206.0,25975.0,90,265229.0,36568.0,138.0,727814,64737.0,89

In [10]:
#Check df Data types
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 70 to 119
Data columns (total 15 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Tax Year                                                        50 non-null     int64
 1   Size of Earned Income                                           50 non-null     object
 2   Notes                                                           50 non-null     object
 3   Number of Claims, Zero Qualifying Children                      50 non-null     float64
 4   Credit Amount Claimed, Zero Qualifying Children ($000)          50 non-null     float64
 5   Average Credit, Zero Qualifying Children                        50 non-null     int64
 6   Number of Claims, One Qualifying Child                          50 non-null     float64
 7   Credit Amount Claimed, One Qualifying Child ($000)              50 non-null     float64
 8   Average Credit, One Qualifying Child                            50 non-null     int64
 9   Number of Claims, More than One Qualifying Child *              50 non-null     float64
 10  Credit Amount Claimed, More than One Qualifying Child ($000) *  50 non-null     float64
 11  Average Credit, More than One Qualifying Child *                50 non-null     float64
 12  Number of Claims, Total                                         50 non-null     int64
 13  Credit Amount Claimed, Total ($000)                             50 non-null     float64
 14  Average Credit, Total                                           50 non-null     int64
dtypes: float64(8), int64(5), object(2)
memory usage: 6.2+ KB

In [11]:
#View the Whole Clean df
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df

,Tax Year,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)","Average Credit, One Qualifying Child","Number of Claims, More than One Qualifying Child *","Credit Amount Claimed, More than One Qualifying Child ($000) *","Average Credit, More than One Qualifying Child *","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total"
70,2008,"$0 - $4,000",0,51027.0,506.0,10,11759.0,489.0,42,5415.0,264.0,49.0,68201,1259.0,18
71,2008,"$4,001 - $8,000",0,94210.0,1859.0,20,32680.0,3500.0,107,14419.0,1820.0,126.0,141309,7180.0,51
72,2008,"$8,001 - $12,000",0,64835.0,809.0,12,60682.0,8745.0,144,35580.0,7323.0,206.0,161097,16878.0,105
73,2008,"$12,001 - $16,000",0,14212.0,65.0,5,47663.0,6824.0,143,54424.0,12972.0,238.0,116299,19862.0,171
74,2008,"$16,001 - $20,000",d/,0.0,0.0,1,0.0,0.0,127,36978.0,8204.0,222.0,75640,13116.0,173
75,2008,"$20,001 - $24,000",0,0.0,0.0,0,36025.0,3492.0,97,31300.0,5700.0,182.0,67325,9192.0,137
76,2008,"$24,001 - $28,000",d/,0.0,0.0,1,0.0,0.0,66,28213.0,3938.0,140.0,60157,6037.0,100
77,2008,"$28,001 - $32,000",0,0.0,0.0,0,28815.0,984.0,34,26119.0,2542.0,97.0,54934,3526.0,64
78,2008,"$32,001 AND OVER",a/,23.0,0.0,1,14728.0,173.0,12,37858.0,1618.0,43.0,52609,1791.0,34
79,2008,TOTAL,0,224311.0,3240.0,14,302954.0,31218.0,103,270306.0,44383.0,164.0,797571,78841.0,99
80,2007,"$0 - $4,000",0,51316.0,472.0,9,11355.0,486.0,43,5126.0,260.0,51.0,67797,1218.0,18
81,2007,"$4,001 - $8,000",0,94163.0,1802.0,19,40345.0,4444.0,110,16090.0,2044.0,127.0,150598,8290.0,55
82,2007,"$8,001 - $12,000",0,62191.0,690.0,11,81721.0,11526.0,141,48838.0,10201.0,209.0,192750,22417.0,116
83,2007,"$12,001 - $16,000",0,7728.0,26.0,3,49828.0,6952.0,140,63386.0,14758.0,233.0,120942,21736.0,180
84,2007,"$16,001 - $20,000",0,0.0,0.0,0,43573.0,5287.0,121,39805.0,8427.0,212.0,83378,13714.0,164
85,2007,"$20,001 - $24,000",0,0.0,0.0,0,39023.0,3509.0,90,33765.0,5699.0,169.0,72788,9209.0,127
86,2007,"$24,001 - $28,000",0,0.0,0.0,0,33885.0,1983.0,59,30043.0,3820.0,127.0,63928,5803.0,91
87,2007,"$28,001 - $32,000",0,0.0,0.0,0,29945.0,817.0,27,27784.0,2360.0,85.0,57729,3178.0,55
88,2007,"$32,001 AND OVER",0,0.0,0.0,0,9123.0,71.0,8,33314.0,1184.0,36.0,42437,1255.0,30
89,2007,TOTAL,0,215398.0,2990.0,14,338798.0,35076.0,104,298151.0,48752.0,164.0,852347,86818.0,102
90,2006,"$0 - $4,000",0,46566.0,428.0,9,15189.0,853.0,56,10068.0,1027.0,102.0,71841,2309.0,32
91,2006,"$4,001 - $8,000",0,87412.0,1600.0,18,43810.0,4849.0,111,17487.0,2224.0,127.0,148769,8676.0,58
92,2006,"$8,001 - $12,000",0,57788.0,549.0,9,60353.0,8208.0,136,46776.0,9635.0,206.0,164969,18393.0,111
93,2006,"$12,001 - $16,000",0,2870.0,13.0,4,48553.0,6478.0,133,51296.0,11405.0,222.0,102719,17895.0,174
94,2006,"$16,001 - $20,000",0,0.0,0.0,0,41815.0,4667.0,112,36654.0,7194.0,196.0,78469,11862.0,151
95,2006,"$20,001 - $24,000",0,0.0,0.0,0,38375.0,3084.0,80,32229.0,4948.0,154.0,70605,8032.0,114
96,2006,"$24,001 - $28,000",0,0.0,0.0,0,32990.0,1614.0,49,30425.0,3409.0,112.0,63415,5023.0,79
97,2006,"$28,001 - $32,000",0,0.0,0.0,0,28392.0,522.0,18,27958.0,1973.0,71.0,56355,2495.0,44
98,2006,"$32,001 AND OVER",0,0.0,0.0,0,1684.0,14.0,8,25591.0,709.0,28.0,27275,723.0,26
99,2006,TOTAL,0,194636.0,2590.0,13,311161.0,30290.0,97,278484.0,42524.0,153.0,784417,75407.0,96
100,2005,"$0 - $4,000",0,47902.0,440.0,9,14235.0,686.0,48,7158.0,480.0,67.0,69297,1606.0,23
101,2005,"$4,001 - $8,000",0,81608.0,1457.0,18,46025.0,5111.0,111,18340.0,2322.0,127.0,145973,8890.0,61
102,2005,"$8,001 - $12,000",0,51229.0,437.0,9,52851.0,6957.0,132,44313.0,8957.0,202.0,148393,16351.0,110
103,2005,"$12,001 - $16,000",0,2478.0,8.0,3,45450.0,5803.0,128,45371.0,9717.0,214.0,93299,15528.0,166
104,2005,"$16,001 - $20,000",0,0.0,0.0,0,41278.0,4279.0,104,36623.0,6755.0,184.0,77901,11034.0,142
105,2005,"$20,001 - $24,000",0,0.0,0.0,0,37456.0,2731.0,73,33180.0,4710.0,142.0,70636,7441.0,105
106,2005,"$24,001 - $28,000",0,0.0,0.0,0,32138.0,1336.0,42,31104.0,3143.0,101.0,63242,4479.0,71
107,2005,"$28,001 - $32,000",d/,0.0,0.0,5,22034.0,324.0,15,28243.0,1682.0,60.0,50283,2006.0,40
108,2005,"$32,001 AND OVER",0,0.0,0.0,0,863.0,3.0,4,19764.0,433.0,22.0,20627,436.0,21
109,2005,TOTAL,0,183223.0,2343.0,13,292330.0,27231.0,93,264096.0,38198.0,145.0,739651,67771.0,92
110,2004,"$0 - $4,000",0,49020.0,443.0,9,15110.0,644.0,43,7598.0,381.0,50.0,71728,1467.0,20
111,2004,"$4,001 - $8,000",0,81895.0,1417.0,17,49561.0,5449.0,110,22051.0,2777.0,126.0,153507,9643.0,63
112,2004,"$8,001 - $12,000",0,42935.0,334.0,8,52150.0,6690.0,128,47435.0,9453.0,199.0,142520,16477.0,116
113,2004,"$12,001 - $16,000",0,529.0,1.0,1,44196.0,5430.0,123,43957.0,9084.0,207.0,88682,14515.0,164
114,2004,"$16,001 - $20,000",0,0.0,0.0,0,41419.0,3976.0,96,35470.0,6070.0,171.0,76889,10047.0,131
115,2004,"$20,001 - $24,000",0,0.0,0.0,0,37663.0,2483.0,66,33466.0,4356.0,130.0,71129,6839.0,96
116,2004,"$24,001 - $28,000",0,0.0,0.0,0,32415.0,1127.0,35,31750.0,2832.0,89.0,64165,3959.0,62
117,2004,"$28,001 - $32,000",0,0.0,0.0,0,15692.0,177.0,11,28909.0,1395.0,48.0,44601,1572.0,35
118,2004,"$32,001 AND OVER",0,0.0,0.0,0,0.0,0.0,0,14593.0,219.0,15.0,14593,219.0,15
119,2004,TOTAL,0,174379.0,2194.0,13,288206.0,25975.0,90,265229.0,36568.0,138.0,727814,64737.0,89

In [12]:
#Save 2004-2008 df
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df.to_csv('./Results/NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_04_08_df.csv')

In [13]:
#Seperate Useful Columns
S_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df = EITC_claims_df[['Tax Year', 'Size of Earned Income', 'Notes', 'Number of Claims, Zero Qualifying Children', 
                                                                          'Credit Amount Claimed, Zero Qualifying Children ($000)', 'Average Credit, Zero Qualifying Children',
                                                                          'Number of Claims, One Qualifying Child', 'Credit Amount Claimed, One Qualifying Child ($000)',
                                                                          'Average Credit, One Qualifying Child', 'Number of Claims, Two Qualifying Children **',
                                                                          'Credit Amount Claimed, Two Qualifying Children ($000) **', 'Average Credit, Two Qualifying Children **',
                                                                          'Number of Claims, More than Two Qualifying Children **', 'Credit Amount Claimed, More than Two Qualifying Children ($000) **',
                                                                          'Average Credit, More than Two Qualifying Children **','Number of Claims, Total', 'Credit Amount Claimed, Total ($000)',
                                                                          'Average Credit, Total'
                                                                         ]]

In [14]:
#Filter By Year (2009-2014)
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_09_14_df = S_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df[S_NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_df['Tax Year'] >= 2009]

#View df
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_09_14_df

,Tax Year,Size of Earned Income,Notes,"Number of Claims, Zero Qualifying Children","Credit Amount Claimed, Zero Qualifying Children ($000)","Average Credit, Zero Qualifying Children","Number of Claims, One Qualifying Child","Credit Amount Claimed, One Qualifying Child ($000)","Average Credit, One Qualifying Child","Number of Claims, Two Qualifying Children **","Credit Amount Claimed, Two Qualifying Children ($000) **","Average Credit, Two Qualifying Children **","Number of Claims, More than Two Qualifying Children **","Credit Amount Claimed, More than Two Qualifying Children ($000) **","Average Credit, More than Two Qualifying Children **","Number of Claims, Total","Credit Amount Claimed, Total ($000)","Average Credit, Total"
0,2013,"$0 - $4,000",0,58723.0,668.000,11,11128.0,442.000,40,3898.0,175.000,45.0,1185.0,57.000,48.0,74934,1341.000,18
1,2013,"$4,001 - $8,000",0,103666.0,2207.000,21,28001.0,2961.000,106,9265.0,1152.000,124.0,2624.0,363.000,138.0,143556,6683.000,47
2,2013,"$8,001 - $12,000",0,87726.0,1544.000,18,69688.0,10915.000,157,19238.0,3912.000,203.0,6073.0,1399.000,230.0,182725,17770.000,97
3,2013,"$12,001 - $16,000",0,38965.0,364.000,9,48673.0,7772.000,160,41512.0,10839.000,261.0,14378.0,4235.000,295.0,143528,23211.000,162
4,2013,"$16,001 - $20,000",0,7067.0,51.000,7,40489.0,6222.000,154,29593.0,7676.000,259.0,12367.0,3648.000,295.0,89516,17598.000,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2014,"$40,001 - $44,000",d/,0.0,0.000,1,0.0,0.000,16,8878.0,356.858,40.0,3978.0,316.778,80.0,15959,723.896,45
131,2014,"$44,001 - $48,000",0,0.0,0.000,0,0.0,0.000,0,2861.0,91.942,32.0,2727.0,129.342,47.0,5588,221.284,40
132,2014,"$48,001 - $52,000",d/,0.0,0.000,0,0.0,0.000,1,0.0,0.000,6.0,1742.0,40.648,23.0,2435,45.062,19
133,2014,"$52,001 AND OVER",0,0.0,0.000,0,0.0,0.000,0,0.0,0.000,0.0,0.0,0.000,0.0,0,0.000,0
134,2014,TOTAL,0,304777.0,4991.954,16,328508.0,40155.119,122,201611.0,39476.892,196.0,81961.0,18642.555,227.0,916857,103266.520,113

In [15]:
#Save 2009-2014 df
NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_09_14_df.to_csv('./Results/NYC_Full_Year_Resident_EITC_bySize_of_Total_Income_09_14_df.csv')